@using DevExpress.ExpressApp.Blazor
@using DevExpress.ExpressApp.Blazor.Templates

@inherits FrameTemplateComponentBase<NestedFrameTemplate1>

<div class="nested-frame" data-frame-name="@FrameTemplate.View?.Caption">
    @if(FrameTemplate.IsActionsToolbarVisible && FrameTemplate.Toolbar.ContainsVisibleActionControl()) {
        <div class="nested-toolbar pb-3">
            @FrameTemplate.Toolbar.GetComponentContent()
        </div>
    }
    <div class="nested-content pb-2 mycustom-viewtype-@(FrameTemplate.View?.GetType().Name.ToLower()??"nullview") mycustom-viewid-@(FrameTemplate.View.Id.ToString().ToLower())">
        <ViewSiteComponent View="@FrameTemplate.View" />
    </div>
</div>

@code {
    public static RenderFragment Create(NestedFrameTemplate1 nestedFrameTemplate) => @<NestedFrameTemplate1Component FrameTemplate="@nestedFrameTemplate" />;
}
